/* Обнуление стилей */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit; font-size: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*-------------------------------*/

/* Body */
body {
  font-size: 18px;
  color: #000;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

/* Main */
.main {
  height: 100vh;
  background: #ef9f13 url(../img/intro/intro-bg.jpg) no-repeat center;
  background-size: cover;
}

.main__header {
  padding-top: 68px;
}

.main__body {
  position: relative;
  z-index: 10;
  width: 46%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding: 140px 0 41px 0;
  text-transform: uppercase;
}

.main__text {
  color: #404040;
  width: 95%;
  padding-bottom: 47px;
}

.main__img {
  position: absolute;
  bottom: 61px;
  right: -63px;
  z-index: 1;
}

/* Btn */
.btn {
  width: 300px;
  height: 64px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00b770;
  transition: background-color 0.2s linear;
}

.btn:hover {
  background-color: #00a666;
}

.btn:active {
  background-color: #00a666;
  color: rgba(255, 255, 255, 0.3);
}

/* Header */
.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  padding-right: 78px;
}

.header__list {
  display: flex;
  margin: 0 -23px;
}

.header__list li {
  padding: 0 23px;
}

.header__link {
  color: #000000;
  position: relative;
}

.header__link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.header__link:hover::after {
  opacity: 0.7;
}

.header__link:active {
  opacity: 0.3;
}

.header__link:active::after {
  display: none;
}

/* advantages */
.advantages {
  background-color: #efefef;
  position: relative;
}

.advantages__content {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px;

}

.advantages__item {
  flex: 0 1 33.33333%;
  padding: 0 20px;
}

.advantages__img {
  position: absolute;
  top: -35px;
  width: 100px;
  height: 108px;
  background: url(../img/advantages/sprite.png);
}

.advantages__item:nth-of-type(2) .advantages__img {
  background-position: 101px 0;
}

.advantages__item:nth-of-type(3) .advantages__img {
  background-position: 202px 0;
}

.advantages__title {
  padding: 87px 0 30px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__text {
  line-height: 24px;
  color: #404040;
  padding-bottom: 71px;
}

/* section */
.section {
  padding: 100px 0 70px 0
}

.section__header--show-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.show-all__link {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 10px 70px 10px 10px;
  transition: color 0.2s linear;
}

.show-all__link:hover {
  color: #00a666;
}

.show-all__link:hover .show-all__point, .show-all__link:hover .show-all__point::after, .show-all__link:hover .show-all__point::before {
  background-color: #00a666;
}

.show-all__link:active {
  transition: none;
  color: rgba(0, 166, 102, 0.3);
}

.show-all__link:active .show-all__point, .show-all__link:active .show-all__point::after, .show-all__link:active .show-all__point::before {
  transition: none;
  background-color: rgba(0, 166, 102, 0.3);
}

.show-all__point, .show-all__point::after, .show-all__point::before{
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #00b770;
  border-radius: 50%;
  right: 25px;
  top: 50%;
  margin-top: -3px;
  transition: background-color 0.2s linear;
}

.show-all__point::after {
  right: 14px;
}

.show-all__point::before {
  right: -14px;
}


/* reviews */
.reviews__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  padding-top: 82px;
}

.reviews__inf {
  margin: 0 53px 0 37px;
  /* width: 160px; */
}

.reviews__name, .quote__title {
  font-weight: 700;
  text-transform: uppercase;
}

.reviews__group, .quote__text {
  font-size: 16px;
  color: #404040;
}

.quote {
  width: 635px;
  position: relative;
  padding-right: 30px;
}

.reviews__img-quote {
  position: absolute;
}

.reviews__img-quote--open {
  top: -26px;
  left: -30px;
}

.reviews__img-quote--close {
  bottom: 4px;
  right: 0;
}

/* feedback */
.feedback {
  background-color: #efefef;
}

/* form */
.form {
  margin-top: 81px;
  position: relative;
}

.form td {
  padding-bottom: 20px;
}

.form__label {
  font-weight: 700;
  vertical-align: top;
}

.form__label--radio {
  color: #404040;
  font-weight: 400;
}

.form input[type=text] {
  height: 49px;
  width: 467px;
  border: 2px solid #a7a7a7;
  border-radius: 2px;
}

.form input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form input[type=radio]+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}

.form input[type=radio]+label::before,
.form input[type=radio]+label::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #a7a7a7;
  border-radius: 50%;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form input[type=radio]+label::after {
  position: absolute;
  left: 8px;
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.form input[type=radio]:checked+label::after{
  opacity: 1;
}

.form__td-radio {
  padding: 10px 0 30px 0;
}

.form__label--radio:nth-of-type(1) {
  margin-right: 52px;
}

.form textarea {
  border: 2px solid #a7a7a7;
  width: 467px;
  vertical-align: top;
  height: 107px;
  border-radius: 2px;
}

.form textarea::placeholder {
  padding: 21px 0 0 24px;
}

.form input[type=text]:hover, .form textarea:hover {
  border-color: #7f7f7f;
}

.form input[type=text]:focus, .form textarea:focus {
  border-color: #00b770;
}

.form input[type=radio]+label:hover::before, .form input[type=radio]+label:hover::after{
  border-color: #818181;
}

.form input[type=radio]+label:active::before, .form input[type=radio]+label:active::after{
  border-color: #00b770;
}

.form__title {
  vertical-align: top;
  text-align: right;
  padding: 18px 24px 0 15px;
}

.form input[type=submit] {
  width: 467px;
  height: 68px;
  border-radius: 2px;
  background-color: #00b770;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}

.form input[type=submit]:hover {
  background-color: #00a666;
}

.form input[type=submit]:active {
  color: rgba(255, 255, 255, 0.3);
}

.form__descr {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  line-height: 24px;
}

.form__descr-title {
  font-weight: 700;
  text-transform: uppercase;
}

.form__descr-text {
  margin: 20px 0;
}

.form__descr-text--bottom {
  margin-top: 115px;
}

.form__descr-text span {
  font-weight: 700;
}

/* footer */
.footer {
  background-color: #1f2022;
  color: #fff;
  padding: 95px 0 55px 0;
}

.footer__content::after {
  content: '';
  display: table;
  clear: both;
}

.footer__logo {
  margin-bottom: 85px;
}

.footer__adress {
  float: left;
  line-height: 24px;
  padding-right: 110px;
}

.links {
  float: left;
}

.footer__links {
  padding-right: 50px;
}

.footer__links:last-child {
  padding: 0 0 0 30px;
}

.links__title {
  margin: 30px 0 42px 0;
}

.links__item {
  color: #ffcc00;
  display: inline-block;
  padding-bottom: 3px;
  margin-bottom: 27px;
  line-height: 24px;
}

.links__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffcc00;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.links__item:hover::after {
  opacity: 1;
}

.links__item:active {
  color: rgba(255, 204, 0, 0.3);
}

.links__item:active::after {
  transition: none;
  opacity: 0;
}

.f-bottom {
  padding-top: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-bottom__social {
  display: flex;
  align-items: center;
}

.f-bottom__social a {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.f-bottom__icon {
  background: url(../img/footer/sprite.png);
  margin-left: 25px;
}

.f-bottom__icon--vk {
  width: 36px;
  height: 24px;
}

.f-bottom__icon--vk:hover {
  background-position: 0 -37px;
}

.f-bottom__icon--vk:active {
  background-position: 0 35px;
}

.f-bottom__icon--fb {
  background-position: 60px 0px;
  width: 23px;
  height: 35px;
}

.f-bottom__icon--fb:hover {
  background-position: 60px -37px;
}

.f-bottom__icon--fb:active {
  background-position: 60px 35px;
}

.f-bottom__icon--tw {
  background-position: 36px 0;
  width: 36px;
  height: 30px;
}

.f-bottom__icon--tw:hover {
  background-position: 36px -37px;
}

.f-bottom__icon--tw:active {
  background-position: 36px 35px;
}
